@import url('https://fonts.googleapis.com/css2?family=Playfai;500;600;700;800;900&display=swap');
@import url('http://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


h3 {
    font-family: 'playfair', 'sans-serif';
}

#features {
    font-family: 'inter', 'sans-serif';
}

#Consultation {
    background-color: #FD665E;
    width: max-content;
}


/* .dark-theme {
    background-color: black;
    color: #FFFFFF;
}

.dark-theme-icon {
    filter: brightness(1) invert(1);
  }
  

  @media screen and (min-width: 1440px) {

    .dark-theme-icon {
        filter: brightness(1) invert(.6);
      } 
  } */
  
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.opening-box {
  padding: 10px 100px;
  margin: 80px 0;
}

.sounds-too-good {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  display: flex;
  margin-bottom: 40px;
  letter-spacing: -0.02em;
  width: 35%;
}

.rest-details {
  display: flex;
  justify-content: end;
  width: 100%;
}

.rest2 {
  display: flex;
  width: 70%;
  gap: 40px;
}

.appreciation-text {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 20px;
}

.position-div {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
}

.position-and-direction-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.direction-buttons {
  display: flex;
  gap: 10px;
}


.container{
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  width: 100%;
}
.parent{
  display: flex;
  width: 100%;
}
.text1{
  font-weight: bold;
}
.child1{
  width: 60%;
}
.buttons{
  width: 100%;
}
.buttons{
  margin-left: 240px;
}

.child2{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  overflow: scroll;
  flex: none;
}
.child2, .image1, .image2, .image3, .image4{
  width: 100%;
  filter: grayscale(0%);
  transition: transform 1s;
}
.child2::-webkit-scrollbar{
  display: none;
}

#leftBtn, #rightBtn{
  width: 50px;
  cursor: pointer;
}
.child2 img:hover{
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.1);
}








@media screen and (max-width: 900px) {
  .opening-box {
    padding: 10px 50px;
  }

  .appreciation-text {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 850px) {
  .opening-box {
    padding: 10px 20px;
  }

  .rest-details {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .rest2 {
    display: flex;
    width: 100%;
    gap: 40px;
  }

  .sounds-too-good {
    width: 50%;
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .opening-box {
    padding: 10px 20px;
  }

  .rest-details {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .rest2 {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .sounds-too-good {
    width: 50%;
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .opening-box {
    padding: 10px 20px;
  }

  .rest-details {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .rest2 {
    display: flex;
    width: 100%;
    gap: 10px;
  }

  .sounds-too-good {
    width: 60%;
    font-size: 32px;
  }
}

@media screen and (max-width: 390px) {
  .opening-box {
    padding: 10px 20px;
    margin: 80px 0 0 0;
  }

  .rest-details {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .rest2 {
    display: flex;
    width: 70%;
    gap: 40px;
  }

  .sounds-too-good {
    width: 60%;
    font-size: 32px;
  }

  .appreciation-text {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
  }
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
 
 
 .content-padding{
     padding:0px 136px;
 }
 /* nav-section */
 .nav-bar{
     display: flex;
     justify-content: space-between;
     height: 80px;
     align-items: center;
     
     
     
   
     
 }
 .nav-bar .leftside-nav{
     display: flex;
     gap:24px;
    padding-top: 8px;
 }
 .nav-bar .leftside-nav ul{
     display: flex;
     gap:24px;
    
    
 }
 .nav-bar .leftside-nav ul li{
    list-style: none;
    
    
    
 }
 .nav-bar .leftside-nav ul li a{
     text-decoration: none;
     font-size: 14px;
     font-weight: 500;
 }

 .nav-bar .leftside-nav ul li a:hover{
    color: coral;
    transition: ease-in-out 0.15s;
}
 
.nav-bar .rightside-nav{
    display: flex;
    gap:24px;
    
}


.nav-bar .rightside-nav p{
    font-size: 14px;
    font-weight: 500;
    padding-top:8px;
    
    
   
}
.nav-bar .rightside-nav a{
    text-decoration: none;
}
.nav-bar .rightside-nav a:hover{
    color:coral;
    transition: ease-in-out 0.25s;
}
.nav-bar .rightside-nav button{
    padding: 10px 24px;
    background-color:#fd665E;
    border:none;
    border-radius:4px;
    align-self: start;
    
}
.nav-bar .rightside-nav button span{
    font-size: 14px;
    font-weight: 600;
    color: white;
    }
    .nav-bar .rightside-nav button:hover{
        background-color: coral;
    transition: ease-in-out 0.15s;
}
    
    @media(min-width: 450px){
        .vector{
            display: none;
        }
    }
/* section1 */
.hero-section{
    padding: 64px 0px;
    
}
.hero-section .big-text{
    font-size: 96px;
    line-height: 96px;
    font-weight:800;
    width: 60%;
   margin-bottom: 50px;
   font-family:serif;
   
    
}
.hero-section .big-text span{
    color:#fd665E;

}

.hero-section .img-text{
    display: flex;
    justify-content: space-between;
    height: 480px;
}
.hero-section .text2{
    width: 25%;
    
   
    
}
.hero-section .text2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-bottom: 40px;
    
}
.hero-section .img{
    width: 70%;
   margin-left: 40px;
    height: 480px;
}
.hero-section img{
    width: 100%;
    height: 100%;
}
.hero-section .hero-btn{
    padding:16px 32px;
    border: none;
    border-radius:5px;
    background-color :#fd665E;
    color: white;
}
.hero-section .hero-btn:hover{
    background-color: coral;
    transition: ease-in-out 0.15s;
}


/* media query */
@media(max-width:390px){
.content-padding{
     padding:0px 24px;
 }
 .nav-bar{
     display: flex;
     justify-content: space-between;
     height: 40px;
     align-items: center;
 }
 .nav-bar .leftside-nav ul{
     display: none;
   }
 .nav-bar .rightside-nav{
    display: flex;
    gap:10px;
    
}
.nav-bar .rightside-nav p{
   display:none;
  }
  .nav-bar .rightside-nav button{
    display: none;
    
}
/* hero-section */
.hero-section{
    padding: 48px 0px;
    
}
    
    .hero-section .big-text{
    font-size:48px;
    line-height: 48px;
    width:100%;
    margin-bottom: 0px;
    
}

.hero-section .img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.hero-section .text2 p{
    
    margin-bottom: 20px;
    
}
.hero-section .text2{
    width: 100%;
    }
   .hero-section .img{
    width: 100%;
   margin-left: 0px;
    height: 240px;
}
    .hero-section .hero-btn{
    padding:16px 32px;
    border: none;
    border-radius:5px;
    background-color :#fd665E;
    color: white;
    margin-bottom: 20px;
}
.vector{
    padding-top:8px;
}
}
@media(max-width:987px) {
    .nav-bar .leftside-nav ul{
        display: none;
    }
    /* .nav-bar .rightside-nav{
        display: flex;
        gap:24px;
        
    } */
}
        
    
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}


.container {
  display: flex;
  width: fill (1,440px);
  height: hug(752px);
  padding: 80px 136px 80px 136px;
  gap: 40px;
  flex-direction: column;
  


}
/*.parent {
  gap:25px
  display: flex;
  flex-direction: row;
  
  

  
  
}*/
.child1 {
  width: Fill (1,168px);
  height: Hug (120px);
  justify-content:space-between;
  display: flex;
  flex-direction: row;
  
}
.text1 {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 800px;
  line-height: 59.52px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 535px;
  height: 120px;
  /*flex-wrap: wrap;
  display:flex;*/  
}
.buttons {
  width: Hug (104px);
  height: Hug (48px);
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}

.btn1 {
  width: 20px;
  height: 20px;
  top: 14px;
  left: 34px;
  padding: 3px 2px 3px 2px;
  angle: -180 deg;
  background: #00000008;



}
.btn2 {
  width: 20px;
  height: 20px;
  top: 14px;
  left: 14px;
  padding: 3px 2px 3px 2px;
  background: #00000008;



}
.child2 {
  width: Hug (1340px);
  height: Hug (432px);
  gap: 40px;
  flex-direction: row;
  display: flex;
  position: relative;


}

.image1 {
  width: 305px;
  height: 432px;
  max-width: 100%;


}
.image2 {
  width: 305px;
  height: 432px;
  max-width: 100%;
   

}
.image3 {
  width: 305px;
  height: 432px;
  max-width: 100%;
    

}
.image4 {
  width: 305px;
  height: 432px;
  max-width: 100%;


}


@media only screen and (max-width: 390px) {
.container {
  width: Fill (390px);
  height: Hug (740px);
  padding: 48px 24px 48px 24px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.child2{
  margin-top: 75px;
}
.child1 {
  width: Fill (342px);
  height: Hug (180px);
  gap: 32px;

}
.parent {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: row;
}*/

.text1 {
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 342px;
  height: 100px;


}


.child2 {
  width: Hug (1,292px);
  height: Hug (432px);
  gap: 24px;

}

}
  
#footer{
  font-family: 'Inter';
  display: grid;
  grid-template-columns: 3fr 0.7fr;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 2px solid #E0E0E0;
}

#mode{
  animation: mode 8s 2s infinite;
}
.section-6{
  animation: six 5s 2s infinite;
}

@keyframes six{
  0%{background-color: white; padding: 0;}
  75%{background-color: black; color: white; padding: 20px 50px;}
  95%{background-color: black; padding: 20px 10px;}
  100%{background-color: white; padding: 0;}
}

@keyframes mode {
  0%{background-color: #FD665E;}
  50%{background-color: white;}
  75%{background-color: black; color: white;}
  100%{background-color: white;}
}

.about:hover{
  transform: scaleY(108%);
  transition: ease-in 1s;
  color: #E0E0E0;
  background-color: #fd665E;
  border-radius: 3px;
  padding: 10px 0;
  margin: 10px 0 30px 0;
}
@media only screen and (max-width:768px){
   #footer{
       display: flex;
       flex-direction: column-reverse;
       gap: 40px;
   }
}
@media only screen and (max-width:390px){
   #footer{
       display: flex;
       flex-direction: column-reverse;
       gap: 40px;
   }
}



.big-text2 {
    animation: slide-in-right 2s ease-in 1s forwards normal;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: .5;
    }

    50% {
        transform: translateX(50%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

.img2 {
    animation: in-out 2s ease-in 1s forwards normal;
}

@keyframes in-out {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
    
}

#Consultation {
    animation: btn 2s ease-in-out 1s forwards normal;
}


@keyframes btn {
    0% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}


.section-3-text, .opening-box{
    animation: drop-down 2s ease-in 1s forwards normal;
    transform-origin: left;
}

@keyframes drop-down {
    0% {
        transform: translateY(-50%);
        opacity: 0; 
      }
      
      100% {
        transform: translateY(0);
        opacity: 1; 
      }
}

